<section>
    <div class="rbm-content-wrapper min-h-full">
        <div class="flex flex-col justify-center text-center my-10">
            <h1 class="text-4xl text-gray-400 py-5">
                Empowered Clients
            </h1>
            <div class="w-4/5 bg-white rounded mx-auto p-4">
                <p class="py-4">
                    Regardless of the scale of your project, Red Banner Media will always empower clients with the
                    knowledge they need to make informed decisions on how to scale their business with technology.
                    A website doesn't have to be a large expense at first. However, knowing what order that technology
                    and services should be implemented on your site is important so your business is set up for success.
                </p>
                <p class="py-4">
                    Every consultation will be provided a customized Road Map to determine the best growth for your
                    business. Therefore as your business grows, you know what to implement and can modify the road map
                    to fit new business needs.
                </p>
                <ul class="flex flex-row w-full justify-center text-secondary font-bold text-md">
                    <li class="mx-3">
                        <a href="./web-development">
                            Web Development
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./search-engine-optimization">
                            Search Engine Optimization
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./user-experience">
                            User Experience
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ecommerce">
                            Ecommerce
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./customer-outreach">
                            Customer Outreach
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ada-compliance">
                            ADA Compliance
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <contactus id="contact"></contactus>
</section>