<section>
    <div class="rbm-content-wrapper min-h-full">
        <div class="flex flex-col justify-center text-center my-10">
            <h1 class="text-4xl text-gray-400 py-5">
                User Experience
            </h1>
            <div class="w-4/5 bg-white rounded mx-auto p-4">
                <p class="py-4">
                    To paraphrase the business owner/ video game developer Gabe Newell and his famous speech about the
                    internet as a whole:
                </p>
                <h1 class="italic text-lg">
                    "They will remember everything you ever say for eternity."
                </h1>
                <p class="py-4">
                    A poor user experience will haunt your business, especially since such commentary is easily searched.
                    Red Banner Media, chooses to make user experience a priority. A fast website that keeps the content
                    easily read by all users, including those with disabilities, will not only help your site and it's
                    search engine optimization but will make your customers happy.
                </p>
                <p class="py-4">
                    In 2017 mobile devices made up more thank 57% of online traffic. Therefore it is so crucial to have
                    any modern website be built with mobile devices in mind. This not only drives up traffic but also
                    converts users to customers.
                </p>
                <ul class="flex flex-row w-full justify-center text-secondary font-bold text-md">
                    <li class="mx-3">
                        <a href="./search-engine-optimization">
                            Search Engine Optimization
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./web-development">
                            Web Development
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ecommerce">
                            Ecommerce
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./customer-outreach">
                            Customer Outreach
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ada-compliance">
                            ADA Compliance
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <contactus id="contact"></contactus>
</section>