<div class="email-wrapper w-full flex flex-col content-center">
    <div class="px-5 py-5 mx-auto my-10 bg-primary shadow-md rounded flex justify-center
         border-b-4 border-t-4 border-secondary w-4/5 sm:w-4/5 md:w-4/5 lg:w-3/5 xl:w-2/5">
        <form class="bg-white rounded p-5 w-full"
              method="post"
              @submit.prevent="sendEmail">
            <h1 class="z-10 text-center text-2xl text-yellow-600 pb-3">CONTACT US TODAY</h1>
            <input class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mb-5 py-2
                   px-4 block w-full appearance-none leading-normal"
                   type="email"
                   v-model="emailContents.clientEmail"
                   required
                   placeholder="jane@example.com">
            <input class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mb-5 py-2
                   px-4 block w-full appearance-none leading-normal"
                   type="text"
                   v-model="emailContents.subject"
                   placeholder="Subject...">
            <textarea class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mb-5
                      py-2 px-4 block w-full appearance-none leading-normal"
                      name="body"
                      id="email-body"
                      cols="33"
                      rows="10"
                      v-model="emailContents.body"
                      placeholder="Enter your message...">
            </textarea>
            <span class="text-primary italic py-2 text-center">{{error}}</span>
            <div class="h-captcha flex flex-row justify-center" data-sitekey="fac206f7-10b4-455e-b1e8-135fd489d81f" data-size="compact"></div>
            <button class="rbm-button"
                    type="submit">
                SEND
            </button>
        </form>
    </div>
</div>