<div class="email-wrapper w-full flex flex-col content-center p-8 ">
    <div class="px-20 py-10 mx-auto my-10 bg-primary shadow-md rounded border-b-4 border-gray-600">
        <h1 class="z-10 text-center text-2xl text-yellow-600 pb-3">CONTACT US TODAY</h1>
        <input class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mb-5 py-2 px-4 block w-full appearance-none leading-normal"
               type="email"
               v-model="emailContents.clientEmail"
               placeholder="jane@example.com">
        <input class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mb-5 py-2 px-4 block w-full appearance-none leading-normal"
               type="text"
               v-model="emailContents.subject"
               placeholder="Subject...">
        <textarea class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mb-5 py-2 px-4 block w-full appearance-none leading-normal"
                  name="body"
                  id="email-body"
                  cols="33"
                  rows="10"
                  v-model="emailContents.body"
                  placeholder="Enter your message..."></textarea>
        <form class="bg-white rounded p-5 m-5" action="endpoint.php" method="post">
            <!--TODO: Add sitekey-->
            <div class="h-captcha" data-sitekey="your-sitekey"></div>
            <input class="text-secondary py-2 px-4 m-2" type="submit" value="send">
        </form>
        <button class="bg-secondary hover:bg-primary hover:text-secondary text-white font-bold py-2 px-4 rounded w-full"
                @click="validateForm(emailContents)">SEND</button>
    </div>
</div>