<div class="email-wrapper w-full flex flex-col content-center p-8 ">
    <div class="px-20 py-10 mx-auto my-10 bg-primary shadow-md rounded border-b-4 border-t-4 border-secondary">
        <form class="bg-white rounded p-5 m-5"
              method="post"
              @submit.prevent="sendEmail">
            <h1 class="z-10 text-center text-2xl text-yellow-600 pb-3">CONTACT US TODAY</h1>
            <input class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mb-5 py-2 px-4 block w-full appearance-none leading-normal"
                   type="email"
                   v-model="emailContents.clientEmail"
                   required
                   placeholder="jane@example.com">
            <input class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mb-5 py-2 px-4 block w-full appearance-none leading-normal"
                   type="text"
                   v-model="emailContents.subject"
                   placeholder="Subject...">
            <textarea class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mb-5 py-2 px-4 block w-full appearance-none leading-normal"
                      name="body"
                      id="email-body"
                      cols="33"
                      rows="10"
                      v-model="emailContents.body"
                      placeholder="Enter your message..."></textarea>
                <div class="h-captcha flex flex-row justify-center" data-sitekey="10000000-ffff-ffff-ffff-000000000001"></div>
                <button class="bg-secondary hover:bg-primary hover:text-secondary text-white font-bold py-2 px-4 mt-5 rounded w-full"
                        type="submit">
                    SEND
                </button>
        </form>
    </div>
</div>