<section>
    <div class="rbm-content-wrapper min-h-full">
        <div class="flex flex-col justify-center text-center my-10">
            <h1 class="text-4xl text-gray-400 py-5">
                Americans with Disability Act Compliance
            </h1>
            <div class="w-4/5 bg-white rounded mx-auto p-4">
                <p class="py-4">
                    As of 2019, Title III of the Americans with Disabilities Act (ADA) is being interpreted to include
                    websites as "places of public accommodation." Meaning that websites with significant inaccessible
                    components can be seen as discriminatory against persons with disabilities. This deems many
                    businesses and government agencies non-compliant and therefore open for lawsuits. The majority of
                    these lawsuits come from California and New York State, as they have their own state wide laws that
                    allow more compensation towards the plaintiff.
                </p>
                <p class="py-4">
                    The good news is that there are ways to update your current site or build your new website with
                    ADA compliance in mind. Besides making your website easier to access for potential customers with
                    disabilities, protecting you and your business, the added benefit is that the community at large
                    will appreciate your compliance and direct others to your site.
                </p>
                <ul class="flex flex-row w-full justify-center text-secondary font-bold text-md">
                    <li class="mx-3">
                        <a href="./web-development">
                            Web Development
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./search-engine-optimization">
                            Search Engine Optimization
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./user-experience">
                            User Experience
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ecommerce">
                            Ecommerce
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./customer-outreach">
                            Customer Outreach
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <contactus id="contact"></contactus>
</section>