<section>
    <div class="rbm-content-wrapper min-h-full">
        <div class="flex flex-col justify-center text-center my-10">
            <h1 class="text-4xl text-gray-400 py-5">
                Ecommerce
            </h1>
            <div class="w-4/5 bg-white rounded mx-auto p-4">
                <p class="py-4">
                    Some businesses need to advertise their services, but for others they want to also sell online.
                    Finding a platform online can often mean that there will be additional overhead for your business,
                    and easier access to your competitors. Therefore having your own platform that is easily updated and
                    controlled by you can not only give you the competitive edge, but also statistics on what your
                    customers like.
                </p>
                <p class="py-4">
                    Having an ecommerce shop also allows you to reach new customers, who may not be able to go to your
                    physical business. Red Banner Media, can help you make your business accessible in more than one way.
                    Essentially creating a secondary store open to a larger audience than a brick and mortar store can
                    reach.
                </p>
                <ul class="flex flex-row w-full justify-center text-secondary font-bold text-md">
                    <li class="mx-3">
                        <a href="./search-engine-optimization">
                            Search Engine Optimization
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./web-development">
                            Web Development
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./user-experience">
                            User Experience
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./customer-outreach">
                            Customer Outreach
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ada-compliance">
                            ADA Compliance
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <contactus id="contact"></contactus>
</section>