<section>
    <div class="rbm-content-wrapper min-h-full">
        <div class="flex flex-col justify-center text-center my-10">
            <h1 class="text-4xl text-gray-400 py-5">
                Customer Outreach
            </h1>
            <div class="w-4/5 bg-white rounded mx-auto p-4">
                <p class="py-4">
                    The internet was founded on communication. As the technology has evolved it's, very important for any
                    business to take full advantage. From search engine optimization to an email campaign, there are
                    many ways for a business to contact customers about new services, and goods that they are selling.
                    Red Banner Media, can arm you with the tools your business needs to augment your customer outreach
                    strategy.
                </p>
                <ul class="flex flex-row w-full justify-center text-secondary font-bold text-md">
                    <li class="mx-3">
                        <a href="./web-development">
                            Web Development
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./search-engine-optimization">
                            Search Engine Optimization
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./user-experience">
                            User Experience
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ecommerce">
                            Ecommerce
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ada-compliance">
                            ADA Compliance
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <contactus id="contact"></contactus>
</section>