<section>
    <div class="rbm-content-wrapper min-h-full">
        <div class="flex flex-col justify-center text-center my-10">
            <h1 class="text-4xl text-gray-400 py-5">
                Search Engine Optimization
            </h1>
            <div class="w-4/5 bg-white rounded mx-auto p-4">
                <p class="py-4">
                    There are approximately 5.6 Billion google searches a year and every business is currently at war for access to
                    the front page. Many business owners hope to be there and think that having a web site is enough.
                    While it would make things easier, that is not the case. Search Engine Optimization is not so much a
                    destination but a way of life for the owners of business websites.
                </p>
                <p class="py-4">
                    However, That doesn't mean that there aren't techniques and tools that can be implemented to make
                    the journey easier. Red Banner Media can give your business an advantage and as time goes on your
                    search engine optimised site will be easier to find for potential customers
                </p>
                <ul class="flex flex-row w-full justify-center text-secondary font-bold text-md">
                    <li class="mx-3">
                        <a href="./web-development">
                            Web Development
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./user-experience">
                            User Experience
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ecommerce">
                            Ecommerce
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./customer-outreach">
                            Customer Outreach
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ada-compliance">
                            ADA Compliance
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <contactus id="contact"></contactus>
</section>