<section>
    <rbmheader></rbmheader>
    <!--Services-->
    <div id="services"
         class="main-content min-h-screen w-5/6 mx-auto my-5 flex flex-col content-center bg-primary rounded shadow-md border-b-4 border-t-4 border-secondary">
        <div class="topper w-full mx-auto flex flex-row justify-center ">
            <div class="max-w-screen-xl min-h-full py-5 px-3 m-6 text-center">
                <span class="text-lg text-gray-400 text-3xl font-bold">Our Services</span>
                <p class="text-left text-white">
                    Technology constantly evolves, and keeping up can be an entire career unto itself. Red Banner Media,
                    keeps
                    track of web technologies and finds what fits your specific business needs.
                </p>
            </div>
        </div>
        <div class="services-wrapper flex flex-row lg:flex-row md:flex-row flex-wrap justify-center px-5">
            <rbmcard v-for="item in items">
                <!--TODO: Find/Create SVG's for each section-->
                <template v-slot:title>
                    {{item.title}}
                </template>
                <template v-slot:description>
                    {{item.description}}
                </template>
            </rbmcard>
        </div>
    </div>
    <!--/Services-->

    <!--Portfolio-->
    <!--TODO: Create a card system for Services and portfolio-->
    <div id="portfolio">

    </div>
    <!--/Portfolio-->


    <contactus id="contact"></contactus>
    <rbmfooter></rbmfooter>
</section>