<rbmheader></rbmheader>
<!--Services-->
<div id="services" class="main-content min-h-screen w-4/5 mx-auto my-5 flex flex-col content-center bg-primary rounded shadow-md border-b-4 border-t-4 border-secondary">
    <div class="topper w-full mx-auto flex flex-row justify-center ">
        <div class="max-w-screen-xl h-32 py-5 px-16 m-6 text-center">
            <span class="text-lg text-gray-400 text-3xl font-bold">Our Services</span>
            <p class="text-left text-white">
                Technology constantly evolves, and keeping up can be an entire career unto itself. Red Banner Media, keeps
                track of web technologies and finds what fits your specific business needs.
            </p>
        </div>
    </div>
    <div class="services-wrapper flex lg:flex-row md:flex-col flex-wrap justify-center">
        <div class="shadow-md lg:w-1/4 md:w-3/4 md:mx-auto md:w-3/4 md:mx-auto min-h-full bg-white rounded p-6 my-6 lg:mx-10 text-center">
            <span class="text-lg text-gray-700 text-gray-700 font-bold">Empowered Clients</span>
            <p class="text-left">
                Regardless of the scale of your project, Red Banner Media will always empower clients with the knowledge
                they need to make informed decisions on how to scale their business with technology. Every consultation will
                be provided a customized Road Map to determine the best growth for your business.
            </p>
        </div>
        <div class="shadow-md lg:w-1/4 md:w-3/4 md:mx-auto min-h-full bg-white rounded p-6 my-6 lg:mx-10 text-center">
            <span class="text-lg text-gray-700 font-bold">Web Development</span>
            <p class="text-left">
                Web sites are the new face of a business. We leverage new technology to help give your companies website the
                user experience that draws new customers.
            </p>
        </div>
        <div class="shadow-md lg:w-1/4 md:w-3/4 md:mx-auto min-h-full bg-white rounded p-6 my-6 lg:mx-10 text-center">
            <span class="text-lg text-gray-700 font-bold">Search Engine Optimization</span>
            <p class="text-left">
                We empower your business with the necessary tools to begin your journey into Search Engine Optimization.
                Making it easier for your customers to find and share your services with others.
            </p>
        </div>
        <div class="shadow-md lg:w-1/4 md:w-3/4 md:mx-auto min-h-full bg-white rounded p-6 my-6 lg:mx-10 text-center">
            <span class="text-lg text-gray-700 font-bold">User Experience</span>
            <p class="text-left">
                From phones to an Ultra-wide desktop monitor, your site will work on any modern device. Making sure that your users
                never feel alienated.
            </p>
        </div>
        <div class="shadow-md lg:w-1/4 md:w-3/4 md:mx-auto min-h-full bg-white rounded p-6 my-6 lg:mx-10 text-center">
            <span class="text-lg text-gray-700 font-bold">Customer Outreach</span>
            <p class="text-left">
                Red Banner Media can provide you with the necessary tools to communicate to customers old and new about what
                your business provides.
            </p>
        </div>
        <div class="shadow-md lg:w-1/4 md:w-3/4 md:mx-auto min-h-full bg-white rounded p-6 my-6 lg:mx-10 text-center">
            <span class="text-lg text-gray-700 font-bold">Ecommerce</span>
            <p class="text-left">
                We can provide you the tools to sell your goods and services online where users will always be able to find
                them.
            </p>
        </div>
        <div class="shadow-md lg:w-1/4 md:w-3/4 md:mx-auto min-h-full bg-white rounded p-6 my-6 lg:mx-10 text-center">
            <span class="text-lg text-gray-700 font-bold">ADA Compliance</span>
            <p class="text-left">
                Regardless of your users impairment, Red Banner Media will make your website easily accessible to those with
                Disabilities.
            </p>
        </div>
        <div class="shadow-md lg:w-1/4 md:w-3/4 md:mx-auto min-h-full bg-white rounded p-6 my-6 lg:mx-10 text-center">
            <span class="text-lg text-gray-700 font-bold">Active Participation</span>
            <p class="text-left">
                There won't be a part of our process that you don't understand. We actively inspire all of our clients to
                comment, test and add to the road map to their success.
            </p>
        </div>
    </div>
</div>
<!--/Services-->

<!--Portfolio-->
    <!--TODO: Add portfolio section-->
    <div id="portfolio"></div>
<!--/Portfolio-->

<contactus id="contact"></contactus>
<rbmfooter></rbmfooter>
