<div class="rbm-header-wrapper">
    <div class="rbm-header bg-primary bg-repeat bg-center text-center h-full flex flex-col">
        <h1 class="z-10 text-center text-3xl text-yellow-600 pt-5 pb-3">
            RED BANNER MEDIA
        </h1>
        <div class="z-20 pt-3 pb-3 flex justify-center">
            <img class="h-64 w-32 z-20"
                 src="./asset/RedBannerMedia_Logo.png"
                 alt="Red Banner Media Logo">
        </div>
    </div>
    <div class="rbm-header-thin bg-primary bg-repeat bg-center text-center h-12 mb-3 w-full
     fixed top-0 flex flex-row sm:justify-center md:justify-center lg:justify-center xl:justify-start
     hidden transition duration-100 ease-in-out">
        <h1 class="z-10 text-left text-3xl text-yellow-600 w-2/5 ml-8 mr-12 sm:hidden md:hidden lg:hidden xl:block">
            RED BANNER MEDIA
        </h1>
        <div class="z-30">
            <img class="h-16 w-32 px-1 z-20"
                 src="./asset/RedBannerMedia_ThinLogo.png"
                 alt="Red Banner Media Thin Logo"
                 @click="top()"
            >
        </div>
    </div>
</div>
