<div class="rbm-header-wrapper border-b-4 border-white">
    <div class="rbm-header bg-primary bg-repeat bg-center text-center h-full flex flex-col">
        <h1 class="z-10 text-center text-3xl text-yellow-600 pt-5 pb-3 select-none">
            RED BANNER MEDIA
        </h1>
        <div class="z-20 pt-3 pb-3 flex justify-center">
            <img class="h-64 w-32 z-20 select-none"
                 src="./asset/RedBannerMedia_Logo.png"
                 alt="Red Banner Media Logo">
        </div>
    </div>
    <div class="rbm-header-thin bg-primary bg-repeat bg-center text-center h-12 mb-3 w-full
     fixed top-0 flex flex-row sm:justify-center md:justify-center lg:justify-center xl:justify-between
     hidden transition duration-100 ease-in-out border-b-4 border-white shadow-2xl">
        <h1 class="z-10 text-left text-3xl text-yellow-600 w-1/3 ml-8 mr-12 sm:hidden md:hidden lg:hidden xl:block select-none cursor-pointer"
            title="Go to the top"
            @click="top">
            RED BANNER MEDIA
        </h1>
        <div class="z-30 w-1/3 flex justify-center">
            <img class="h-16 w-32 px-1 z-20 cursor-pointer"
                 src="./asset/RedBannerMedia_ThinLogo.png"
                 alt="Red Banner Media Thin Logo"
                 title="Go to the top"
                 @click="top">
        </div>
        <div class="hamburger-menu m-3 w-1/3 flex justify-end" v-if="!hideElement" @click="handleMenu">
            <svg class="text-yellow-600 fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
        </div>
        <div class="hamburger-menu-close m-3 w-1/3 flex justify-end select-none cursor-pointer"
             v-if="hideElement"
             @click="handleMenu">
            <svg class="text-yellow-900 fill-current h-6 2-6 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
            </svg>
            <div class="bg-primary">
                <ul class="bg-primary p-4 flex flex-col flex-wrap">
                    <li class="cursor-pointer">
                        <a href="#services" class="text-secondary px-4 hover:text-white hover:bg-secondary">Services</a>
                    </li>
                    <li class="cursor-pointer">
                        <a href="#Portfolio" class="text-secondary px-4 hover:text-white hover:bg-secondary">Portfolio</a>
                    </li>
                    <li class="cursor-pointer">
                        <a href="#contact" class="text-secondary px-4 hover:text-white hover:bg-secondary">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>