<section>
    <div class="rbm-content-wrapper min-h-full">
        <div class="flex flex-col justify-center text-center my-10">
            <h1 class="text-4xl text-gray-400 py-5">
                Web Development
            </h1>
            <div class="w-4/5 bg-white rounded mx-auto p-4">
                <p class="py-4">
                    50 milliseconds is the time it takes to win someones attention on the internet. That's all it takes
                    for a potential customer to form an opinion about your website and hence your business. Web sites
                    are the new store fronts for any modern business. Red Banner Media takes this statistic to heart. We
                    focus on how to make your website appeal to your visitors by creating a good customer experience
                    from
                    the beginning.
                </p>
                <p class="py-4">
                    Much like any brick and mortar store, it should cater to how you do business. A baker will need a
                    working kitchen and a store needs space for storage, and in that vein your site should cater to how
                    you do business. Read through our other services to see how else we can make your business website
                    work.
                </p>
                <ul class="flex flex-row w-full justify-center text-secondary font-bold text-md">
                    <li class="mx-3">
                        <a href="./search-engine-optimization">
                            Search Engine Optimization
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./user-experience">
                            User Experience
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ecommerce">
                            Ecommerce
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./customer-outreach">
                            Customer Outreach
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="./ada-compliance">
                            ADA Compliance
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <contactus id="contact"></contactus>
</section>